<?xml version="1.0" encoding="UTF-8"?>

<suite name="Guru99 Bank Automation Master Suite" verbose="2">
    <listeners>
        <listener class-name="base.TestListener"/>
    </listeners>
    <test name="EndToEndBankingModuleWorkflows" preserve-order="true">
        <classes>
            <class name="testcases.EndToEndBankingTest"/>
        </classes>
    </test>
</suite>